@font-face {
    font-family: Calli;
    src: url('SF-Compact.dmg');
}
.main{
    display: grid;
    grid-template-columns: auto auto;
    padding: 0;
    margin:0;
}
.left__hello{
    font-family: 'SF Compact', sans-serif;
    font-style: normal;
    font-weight: 457;
    font-size: 44.7437px;
    line-height: 45px;
    color: #0F6048;
    position: absolute;
    top: 400px;
    left: 340px;
}
.left__text{
    font-family: 'SF Compact', sans-serif;
    font-style: normal;
    font-weight: 457;
    font-size: 28px;
    line-height: 45px;
    color: #FFFFFF;
    width: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 450px;
    left: 320px;
}
.left__arrow{
    position: absolute;
    top:530px;
    left: 880px;
}
.right__add{
    font-family: 'SF Compact',sans-serif;
    font-style: normal;
    font-weight: 457;
    font-size: 44.7437px;
    line-height: 45px;
    color: #58AF9B;
    position: absolute;
    top: 280px;
    left: 1320px;
}
.right__info{
    font-family: 'SF Compact',sans-serif;
    font-style: normal;
    font-weight: 457;
    font-size: 18px;
    line-height: 45px;
    color: #4B4F4E;
    position: absolute;
    top: 320px;
    left: 1380px;
}
.right__form{
    position: absolute;
    width: 327px;
    height: 325px;
    left: 1275px;
    top: 392px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 50px;
}
::placeholder{
    font-family: 'SF Compact', sans-serif;
    font-style: normal;
    font-weight: 457;
    font-size: 18px;
    line-height: 45px;
    position: relative;
    left: 20px;
}
.form__name{
    background: #E1F8F6;
    height: 54px;
    border: 0;
    border-radius: 5px;
}
.form__country{
    background: #E1F8F6;
    height: 54px;
    border: 0;
    border-radius: 5px;
    font-family: 'SF Compact',sans-serif;
    font-style: normal;
    font-weight: 457;
    font-size: 18px;
    line-height: 45px;
    padding-left: 20px;
    color: #4a525e;
}
.form__country::after{
    position: relative;
    left: 10px;
}
.form__date{
    background: #E1F8F6;
    height: 54px;
    border: 0;
    border-radius: 5px;
}
.form__button{
    border-radius: 50px;
    border:0;
    height:54px;
    background: linear-gradient(5.02deg, #179570 3.68%, #58AF9B 96.32%), #148653;
    color: #FFFFFF;
    font-family: 'SF Compact', sans-serif;
    font-style: normal;
    font-weight: 457;
    font-size: 20px;
    line-height: 45px;
}
